<div class="gray-conteiner" style="background-color: #2e3038;padding-top: 5%;padding-bottom: 5%;">
    <div class="main-conteiner" >
    <div class="co-founder-section">
    <div>
       <h2 style="font-family: 'Prata !important'; font-weight: 100;">
      A co-founder at one of the world's largest communities.
    </h2>
    <p class="subtext">
      The combined experience I have working at the top Fortune 500 companies has allowed me to develop a skillset
      that helps me in not just development, but in every aspect of any business.
    </p>
    <p class="subtext"> 
      I am proud to announce that I am now working at one of the 
      world's largest communities teaching young minds about how
      to <span>sell</span> yourself as a developer and open them to a 
      whole new world of opportunities.
    </p>
  </div>
  <div>
    <p class="subtext">
      As a developer, you have everything available to you and all that's 
      holding you back is yourself.
    </p>
    <p class="subtext">
      A quote I live by perfectly illustrates what I mean.
    </p>
    <p class="subtext">
      "How big would you dream, if you <strong>knew</strong> you wouldn't fail?"
      You've already gone through the hardest parts being a developer,
      it's time to elevate your skills an become a leader in something you're
      <span>passionate</span> about.
    </p>
    <p class="subtext">
      I'm happy to chat over coffee some time about how I can help your company.
    </p>
  </div>
</div>
  </div>
  </div>
  <div style="background-color: black;padding-top: 5%;padding-bottom: 5%;" class="main-conteiner">
    <div class="working-with-me">
      <h2 style="font-family: 'Prata !important'; font-weight: 100;">Interested in working with me?</h2>
      <p class="subtext">I'm active on all social media platforms listed below, but you can also send me an
        email and I will get back to you within 24-48 hours.
      </p>
      <button style="background-color: rgba(251, 232, 80, 1);font-family: 'Prata !important';padding: 10px 15px 10px 15px;" class="pointer">Get in touch</button>
  </div>
</div>
<footer class="gray-conteiner footer">
  <div class="main-conteiner">
    <a style="float: left;font-family: 'Prata !important';">Jonathan Specter</a>
    <a style="float: right;" class="pointer" href="#"><img src="/assets/Github.svg"></a>
    <a style="float: right;margin-right: 1%;" class="pointer" href="#"><img src="/assets/LinkedIn.svg"></a>
    <a style="float: right;margin-right: 1%;" class="pointer" href="#"><img src="/assets/Twitter.svg"></a>
  </div>
</footer>