.main-conteiner {
    margin-left: 10%;
    margin-right: 10%;
}

.pointer {
    cursor: pointer;
} 

.nav-toggle {
    float: right;
}

.no-decoration {
    text-decoration: none;
}

.icons-list {
    flex-wrap: wrap;
}

.first-platform {
    margin-right: 2em;
    width: 100%
}

.second-platform {
    float: right;
    margin-left: 2em;
    width: 100%
}

.co-founder-section {
    display: flex;
    gap: 5%;
}

.working-with-me {
    width: 50%;
}

.footer {
    background-color: #2e3038;
    padding-top: 2%;
    padding-bottom: 3%;
}


@media only screen and (min-width : 993px) {
    .nav-toggle {
        display: none;
    }

    .nav-hamburger {
        display: none;
    }

    

}

/* Small Devices, Tablets */
@media only screen and (min-width : 480px) and (max-width : 992px) {
    .nav-items, .nav {
        flex-direction: column;
    }

    .nav-items {
        display: none;
    }

    .nav-hamburger {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 5%;
    }

    .platforms-list {
        flex-wrap: wrap;
    }

    .first-platform {
        margin-right: 0;
    }

    .second-platform {
        margin-left: 0;
    }

    .co-founder-section {
        flex-wrap: wrap;
    }

    .working-with-me {
        width: 100%;
    }

    .footer {
        padding-bottom: 5%;
    }
}

