<div style="background-color: black;height: 100%;color: white;">
  <div class="main-conteiner" style="background-color: black;">
    <header style="padding-top: 5%;" class="nav">
      <a style="float: left;font-family: 'Prata !important';">Jonathan Specter</a>
      <a class="nav-toggle" (click)="toggleMenu()"><img src="/assets/Hamburger Menu.svg"></a>
      <nav style="background-color: black;text-align: center;" class="nav-items">
        <a style="margin: 2%;" class="pointer no-decoration subtext" href="#">Articles</a>
        <a style="margin: 2%;" class="pointer no-decoration subtext" href="#">Chats</a>
        <a style="margin: 2%;" class="pointer no-decoration subtext" href="#">Awards</a>
        <a style="margin: 2%;" class="pointer no-decoration subtext" href="#">About</a>
      <button style="float: right;background-color: rgba(251, 232, 80, 1);font-family: 'Prata !important';padding: 10px 15px 10px 15px;" class="pointer">Get in touch</button>
      </nav>
      <nav class="nav-hamburger" *ngIf="displayMenu">
        <a style="margin: 2%;" class="pointer no-decoration subtext" href="#">Articles</a>
        <a style="margin: 2%;" class="pointer no-decoration subtext" href="#">Chats</a>
        <a style="margin: 2%;" class="pointer no-decoration subtext" href="#">Awards</a>
        <a style="margin: 2%;" class="pointer no-decoration subtext" href="#">About</a>
      </nav>
    </header>
    <div style="width: 70%;margin-top: 10%;">
      <h1 style="font-family: 'Prata !important';font-size: 3em; font-weight: 100;">Helping companies build better, scalable software.</h1>
      <p style="font-size: 1.2em;" class="subtext">Award-winning web developer and author, with over 15+ years of working experience with Fortune 500
        companies like Apple, Google, Facebook, and more.
      </p>
    </div>
    <div style="margin-top: 10%; display: flex;justify-content: space-between;" class="icons-list">
      <img src="/assets/Walmart.svg">
      <img src="/assets/JP Morgan.svg">
      <img src="/assets/Visa.svg">
      <img src="/assets/Tinder.svg">
      <img src="/assets/Samsung.svg">
      <img src="/assets/Verizon.svg">
  </div>
      <div style="margin-top: 10%; display: flex;margin-bottom: 10%" class="platforms-list">
        <div class="first-platform">
          <img src="/assets/Spense.png" style="margin-bottom: 3%;height: 300px;object-fit: cover;width: 100%;">
          <h2 style="font-family: 'Prata !important';font-weight: 100;">Spense.com</h2>
          <p class="subtext"> 
            Rethinking the way writers get paid, an open-source platform designed to help writers focus 
            more on writing, and less on <span>when</span> and <span>how</span> they'll get paid. Project in
            collaboration with Codewell.cc
          </p>
        </div>
        <div class="second-platform">
          <img src="/assets/YelpCamp.png" style="margin-bottom: 3%;width: 100%;height: 300px;object-fit: cover;">
          <h2 style="font-family: 'Prata !important';font-weight: 100;">YelpCamp.com</h2>
          <p class="subtext">
            Allowing backpack travellers to perfectly plan their trip through an open-source platform similar to
            TripAdvisor. With over 1m MAU, YelpCamp has been the crowd's favorite in 2021.
          </p>
        </div>
      </div>
  </div>
  <router-outlet></router-outlet>
</div>
  
